@import '../core/color/variables';
@import '../core/spacing/variables';

.psm-rollover,
%psm-rollover {
  display: inline-block;
  position: relative;
  outline: none;
}
.psm-rollover .psm-rollover__text {
  &.psm-rollover__text-dotted {
    border-bottom: 1px dotted $psm-color-gray-700;
    line-height: 0.85;
    cursor: pointer;
  }
  &.psm-rollover__text-underline {
    border-bottom: 1px solid $psm-color-gray-700;
    line-height: 0.85;
  }
}
.psm-rollover .psm-rollover__footer {
  content: '';
  bottom: ($psm-spacing-md);
  border-top: 1px solid $psm-color-gray-600;
  cursor: pointer;
}

.psm-rollover .psm-rollover__window,
%psm-rollover__window {
  visibility: hidden;
  padding: 12px;
  width: 124px;
  background-color: $psm-color-gray-700;
  color: white;
  text-align: center;
  border-radius: 3px;
  & > ul {
    margin: 0;
    width: 100%;
  }
  & li {
    margin: 0;
    width: 100%;
    text-align: left;
  }

  position: absolute;
  z-index: 1;
  &.psm-rollover__window--down {
    width: 124px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    &.psm-rollover__window--down::after {
      content: ' ';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $psm-color-gray-700 transparent;
    }
  }
  &.psm-rollover__window--up {
    width: 124px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    &.psm-rollover__window--up::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $psm-color-gray-700 transparent transparent transparent;
    }
  }
}
.psm-rollover__window--show {
  @extend %psm-rollover__window;
  visibility: visible;
}

.psm-rollover__window--hide {
  @extend %psm-rollover__window;
  visibility: hidden;
}
