@import '../core/color/variables';
@import '../core/spacing/variables';

.psm-rollover,
%psm-rollover {
  display: inline-block;
  position: relative;
  outline: none;
  width: fit-content;
}

.psm-rollover--container {
  list-style: none;
  margin: 0;
  padding: 12px;
  text-align: initial;
  width: fit-content;
}

.psm-rollover__text-dotted {
  @extend %psm-rollover;
  border-bottom: 1px dotted $psm-color-gray-700;
  line-height: 0.85;
  cursor: pointer;
}

.psm-rollover__text-underlined {
  @extend %psm-rollover;
  border-bottom: 1px solid $psm-color-gray-700;
  line-height: 0.85;
}

.psm-rollover__footer {
  background: transparent;
  border-style: none;
  box-shadow: inset 0px 2px 0px $psm-color-gray-600;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px 3px 12px;
  width: 100%;
}

.psm-rollover__window,
%psm-rollover__window {
  @extend %psm-rollover;
  background-color: $psm-color-gray-700;
  color: white;
  text-align: center;
  border-radius: 3px;
  width: fit-content;

  position: absolute;
  z-index: 1;
  &.psm-rollover__window--down {
    top: 100%;
    left: 50%;
    margin-left: -60px;
    &.psm-rollover__window--down::after {
      content: ' ';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $psm-color-gray-700 transparent;
    }
  }
  &.psm-rollover__window--up {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    &.psm-rollover__window--up::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $psm-color-gray-700 transparent transparent transparent;
    }
  }
  &.psm-rollover__window--left {
    right: 110%;
    top: -150%;
    z-index: 1;
    &.psm-rollover__window--left::after {
      content: '';
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $psm-color-gray-700;
      left: 100%;
      position: absolute;
      top: 50%;
    }
  }
  &.psm-rollover__window--right {
    left: 110%;
    top: -135%;
    z-index: 1;
    &.psm-rollover__window--right::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent $psm-color-gray-700 transparent transparent;
    }
  }
}
.psm-rollover__window-visible {
  @extend %psm-rollover__window;
  visibility: visible;
}

.psm-rollover__window-hidden {
  @extend %psm-rollover__window;
  visibility: hidden;
}

.psm-rollover-visible {
  display: block;
  visibility: visible;
}

.psm-rollover-hidden {
  display: none;
  visibility: hidden;
}
