@import '../src/scss/common';

.content {
  max-width: 800px;
  margin: 0 auto;
}

.section-header {
  color: white;
  background-color: $psm-color-gray-900;
  padding: 10px 0 10px 200px;
}

.types {
  dt {
    float: left;
  }
  dd {
    margin-left: 200px;
    height: 6em;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

