@import '../src/scss/common';

.content {
  max-width: 800px;
  margin: 0 auto 3em;
}

.section-header {
  background-color: $psm-color-gray-50;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
}

.types {
  dt {
    float: left;
  }
  dd {
    margin-left: 200px;
    height: 6em;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

