@import 'functions';

$psm-color-primary-base: #ff6008;
$psm-color-gray-base: #868c8f;
$psm-color-link: #0078D3;

$psm-color-primary-50: alpha-blend($psm-color-primary-base, .15, white);
$psm-color-primary-100: alpha-blend($psm-color-primary-base, .30, white);
$psm-color-primary-200: alpha-blend($psm-color-primary-base, .45, white);
$psm-color-primary-300: alpha-blend($psm-color-primary-base, .60, white);
$psm-color-primary-400: alpha-blend($psm-color-primary-base, .85, white);
$psm-color-primary-500: $psm-color-primary-base;
$psm-color-primary-600: alpha-blend($psm-color-primary-base, .85, black);
$psm-color-primary-700: alpha-blend($psm-color-primary-base, .70, black);
$psm-color-primary-800: alpha-blend($psm-color-primary-base, .55, black);
$psm-color-primary-900: alpha-blend($psm-color-primary-base, .40, black);

$psm-color-gray-50: alpha-blend($psm-color-gray-base, .15, white);
$psm-color-gray-100: alpha-blend($psm-color-gray-base, .30, white);
$psm-color-gray-200: alpha-blend($psm-color-gray-base, .45, white);
$psm-color-gray-300: alpha-blend($psm-color-gray-base, .60, white);
$psm-color-gray-400: alpha-blend($psm-color-gray-base, .85, white);
$psm-color-gray-500: $psm-color-gray-base;
$psm-color-gray-600: alpha-blend($psm-color-gray-base, .85, black);
$psm-color-gray-700: alpha-blend($psm-color-gray-base, .70, black);
$psm-color-gray-800: alpha-blend($psm-color-gray-base, .55, black);
$psm-color-gray-900: alpha-blend($psm-color-gray-base, .40, black);


