@import 'functions';

$psm-color-primary-base: #ff6008 !default;
$psm-color-gray-base: #868c8f;
$psm-color-link: #0078D3;

$psm-color-primary-50: alpha-blend($psm-color-primary-base, .15, white);
$psm-color-primary-100: alpha-blend($psm-color-primary-base, .30, white);
$psm-color-primary-200: alpha-blend($psm-color-primary-base, .45, white);
$psm-color-primary-300: alpha-blend($psm-color-primary-base, .60, white);
$psm-color-primary-400: alpha-blend($psm-color-primary-base, .85, white);
$psm-color-primary-500: $psm-color-primary-base;
$psm-color-primary-600: alpha-blend($psm-color-primary-base, .85, black);
$psm-color-primary-700: alpha-blend($psm-color-primary-base, .70, black);
$psm-color-primary-800: alpha-blend($psm-color-primary-base, .55, black);
$psm-color-primary-900: alpha-blend($psm-color-primary-base, .40, black);

$psm-color-gray-50: #F8F8F8;
$psm-color-gray-100: #F1F1F1;
$psm-color-gray-200: #E1E1E1;
$psm-color-gray-300: #D4D4D4;
$psm-color-gray-400: #ABABAE;
$psm-color-gray-500: #8E8E8E;
$psm-color-gray-600: #707070;
$psm-color-gray-700: #525252;
$psm-color-gray-800: #363636;
$psm-color-gray-900: #212121;
