@import "../core/color/variables";
@import "../core/spacing/variables";
@import "../core/icon/variables";

.psm-hr {
  border-top: 1px solid $psm-color-gray-200;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
