@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.psm-table__wrapper {
  position: relative;
  color: $psm-color-gray-900;
}

.psm-table {
  border: none;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;

  .psm-table__th {
    font-weight: bold;
    padding: 19px;
    text-align: left;
  }

  .psm-table__td {
    text-align: left;
    padding: 19px;
    line-height: $psm-spacing-lg;
  }
}

.psm-table-caption {
  font-weight: 600;
  font-size: $psm-spacing-xl;
  padding: 19px;
  text-align: left;
}

.psm-table__actions {
  position: absolute;
  right: $psm-spacing-xl;
  top: $psm-spacing-xl;

  & .psm-button,
  & .psm-button--primary {
    margin: 0 $psm-spacing-sm;
  }
}

.psm-table--box {
  border-radius: 3px;
  box-shadow: 0 0 $psm-spacing-xs 0 rgba(0, 0, 0, 0.14),
    0 $psm-spacing-xs $psm-spacing-xs 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: $psm-spacing-xl;
}
