@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

$psm-mount-location: '' !default;
$psm-type-font-safe: 'Helvetica', 'Arial', sans-serif !default;
$psm-type-font-header: 'ProximaNova-Reg', $psm-type-font-safe;
$psm-type-font-family: 'Roboto', sans-serif;
$psm-type-card-title: 'Domine', serif;

$psm-paragraph-font-size: 14px;
$psm-subtext-font-size: 12px;
$psm-form-header-font-size: 18px;
