@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$psm-mount-location: '' !default;
$psm-type-font-safe: 'Helvetica', 'Arial', sans-serif !default;
$psm-type-font-header: 'Noto Sans', $psm-type-font-safe;
$psm-type-font-family: 'Noto Sans', sans-serif;
$psm-type-card-title: 'Noto Sans', serif;

$psm-paragraph-font-size: 14px;
$psm-subtext-font-size: 12px;
$psm-form-header-font-size: 18px;
