@import '../color/variables';
@import 'variables';

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $psm-type-font-family;
  color: $psm-color-gray-900;
  line-height: 2;
}

.psm-header--1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: $psm-color-gray-900;
}

.psm-header--2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: $psm-color-gray-900;
}

.psm-header--3 {
  font-size: 1rem;
  font-weight: 600;
  color: $psm-color-gray-900;
}

.psm-header--4 {
  font-size: 1rem;
  font-weight: normal;
  color: $psm-color-gray-900;
}

.psm-header--5 {
  font-size: 0.875rem;
  font-weight: 600;
  color: $psm-color-gray-900;
}

.psm-header--6 {
  font-size: 1rem;
  font-weight: normal;
  color: $psm-color-gray-900;
}

.psm-form-heading {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.psm-paragraph {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.psm-type-body {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.psm-paragraph--small {
  font-size: 0.75rem;
}

.psm-type-body--small {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.psm-link {
  @extend .psm-type-body;
  color: $psm-color-link;
  text-decoration: none;
}
