@import './_mixins';
@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.psm-radio__group {
  border: none;
  padding: 0;
}

.psm-radio {
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;

  &::after {
    @include pseudo-radio(white, $psm-spacing-lg, $psm-color-gray-500, 1px);
    -webkit-box-sizing: unset;
    box-sizing: unset;
  }

  &:hover::after {
    @include pseudo-radio(white, $psm-spacing-lg, $psm-color-primary-500, 1px);
  }

  &:checked::after {
    @include pseudo-radio(white, $psm-spacing-sm, $psm-color-primary-500, 7px);
  }
}

.psm-radio__label {
  bottom: $psm-spacing-sm;
  cursor: pointer;
  position: relative;
}
