@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.psm-tag {
  background: #0066ED;
  border-radius: 12px;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 1.1667;
  margin: 0 8px 0 12px;
  padding: 5px 32px 5px 12px;
  font-weight: 500;
  position: relative;
}

.psm-tag__close {
  border: none;
  background: transparent;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 20%;
  padding: 0;
  margin: 0;
  &:focus,
  &:hover {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
  }
}
