@import "../core/color/variables";
@import "../core/spacing/variables";
@import "../core/icon/variables";

.psm-toggle {
  width: 48px;
  height: 28px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  & > .psm-toggle__switch {
    background-color: #ffffff;
    width: $psm-spacing-xl;
    height: $psm-spacing-xl;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 gray;
    transition: all 0.4s;
  }

  &.psm-toggle--inactive {
    transition: all 0.4s;
    background-color: #dadcdd;
    & > .psm-toggle__switch {
      position: absolute;
      top: $psm-spacing-xs;
      left: $psm-spacing-xs;
    }
  }
  &.psm-toggle--active {
    transition: all 0.4s;
    background-color: #008ae5;
    & > .psm-toggle__switch {
      position: absolute;
      top: $psm-spacing-xs;
      left: 22px;
    }
  }
}
