@import '../core/color/variables';
@import '../core/spacing/variables';

.psm-avatar,
.psm-avatar--md,
%psm-avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: $psm-color-gray-500;
  color: $psm-color-gray-50;
  position: relative;
  display: inline-block;
  overflow: hidden;

  .psm-avatar__img {
    border-radius: 100%;
    height: 100%;
    width: 100%;
  }

  .psm-avatar__silhouette {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODYiIGhlaWdodD0iOTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYzLjc5NiA2Mi44NzRjLTYuMzk5LTIuMTY2LTkuNjg2LTYuODkzLTExLjM1Ni0xMC43MDQgOS4yMTgtNS41MzggMTQuMDE1LTE4LjY4MyAxNC4wMTUtMjguNjdDNjYuNDU1IDEwLjUyIDU1Ljk1NSAwIDQzIDAgMzAuMDQ1IDAgMTkuNTQ1IDEwLjUyIDE5LjU0NSAyMy41YzAgOS45OTUgNC44IDIzLjE0OCAxNC4wMyAyOC42NzgtMS42NjEgMy44NDItNC45NCA4LjYwNS0xMS4zMjQgMTAuNjhDMTAuOTkyIDY2LjUxNCAwIDY3LjcwOSAwIDg2LjE2OFY5NGg4NnYtNy44MzNjMC0xOC4xODUtMTAuNTA0LTE5LjMzMy0yMi4yMDQtMjMuMjkzeiIgZmlsbD0iI2Y4ZjhmOCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    // Slightly offsetting towards the bottom to prevent
    // blank space between the avatar and the edge
    background-position: right 50% bottom -15%;
    width: 100%;
    height: 100%;
    background-size: 75%;
  }

  .psm-avatar__text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }
}

.psm-avatar--xl {
  @extend %psm-avatar;
  width: 120px;
  height: 120px;

  .psm-avatar__text {
    font-size: 55px;
  }
}

.psm-avatar--lg {
  @extend %psm-avatar;
  width: 72px;
  height: 72px;

  .psm-avatar__text {
    font-size: 35px;
  }
}

.psm-avatar--sm {
  @extend %psm-avatar;
  width: $psm-spacing-xxl;
  height: $psm-spacing-xxl;
}

.psm-avatar--xs {
  @extend %psm-avatar;
  width: $psm-spacing-xl;
  height: $psm-spacing-xl;
}
