@import '../core/type/type';

.psm-pagination__arrow {
  @extend %psm-pagination__button;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

.psm-pagination__content {
  list-style: none;
}

.psm-pagination__navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.psm-pagination__active {
  @extend %psm-pagination__button;
  background-color: #e8eaeb;
}

.psm-pagination__disabled {
  color: #dadcdd;
  cursor: default;
}

.psm-pagination__button,
%psm-pagination__button {
  outline: none;
  border-style: none;
  width: 30px;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  height: 30px;
  margin: 0 2px;
}
