@mixin pseudo-radio($color, $width, $border-color, $border-width) {
  background-color: $color;
  width: $width;
  height: $width;
  border-radius: 16px;
  top: 0;
  left: 0;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: $border-width solid $border-color;
}