@import 'mixins';

input[type='radio'] {
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;

  &::after {
    @include pseudo-radio(white, 16px, $psm-color-gray-500, 1px);
  }

  &:hover::after {
    @include pseudo-radio(white, 16px, $psm-color-primary-500, 1px);
  }

  &:checked::after {
    @include pseudo-radio(white, 4px, $psm-color-primary-500, 7px);
  }

}