.psm-input-leading-icon,
.psm-input-trailing-icon {
  position: relative;
  overflow: hidden;

  & > [class^='psm-icon'], [class*=' psm-icon'] {
    position: absolute;
    top: 14px;
  }
}

.psm-input-leading-icon {
  & > [class^='psm-icon'], [class*=' psm-icon'] {
    left: 8px;
    right: initial;
  }

  & > input:not([type="checkbox"]):not([type="radio"]) {
    padding-left: 36px;
  }
}

.psm-input-trailing-icon {
  & > [class^='psm-icon'], [class*=' psm-icon'] {
    left: initial;
    right: 8px;
  }

  & > input:not([type="checkbox"]):not([type="radio"]) {
    padding-right: 36px;
  }
}
