@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';
@import '../core/type/variables';

@mixin buttonText {
  @extend %psm-button;
  background-color: transparent;
  border: none;
}

$psm-button-height: 36px;
$psm-border-width: 1px;

.psm-button,
%psm-button {
  font-family: $psm-type-font-family;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 80px;
  height: $psm-button-height;
  padding: 0 $psm-spacing-lg;
  border: $psm-border-width solid $psm-color-gray-200;
  border-radius: 3px;
  color: $psm-color-gray-700;
  background-color: $psm-color-gray-200;
  font-size: 0.875rem;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  vertical-align: middle;
  line-height: $psm-button-height - $psm-border-width * 2;
  transition: background-color 0.25s;
  text-decoration: none;
  &:active {
    outline: none;
    border-color: $psm-color-gray-200;
    background-color: $psm-color-gray-200;
    color: $psm-color-gray-700;
  }

  &--text {
    @extend %psm-button;
    background-color: transparent;
    border: none;
    @include buttonText;
    color: #0066ed;
  }

  &--menu {
    @include buttonText;
    color: black;
    &:focus,
    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: $psm-color-link-700;
    }
  }

  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $psm-color-link-700
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.psm-button--primary,
%psm-button--primary {
  @extend %psm-button;
  background-color: $psm-color-primary-500;
  border-color: $psm-color-primary-500;
  font-weight: 900;
  color: white;

  &:active {
    border-color: $psm-color-primary-500;
    background-color: $psm-color-primary-500;
  }

  &:focus,
  &:hover {
    border-color: $psm-color-primary-700;
    background-color: $psm-color-primary-700;
    color: white;
  }

  &:disabled {
    border-color: $psm-color-primary-300;
    background-color: $psm-color-primary-300;
    color: $psm-color-primary-50;
  }
}

.psm-button--small {
  @extend %psm-button;
  min-width: 74px;
  height: $psm-button-height * 2/3;
  line-height: $psm-button-height * 2/3 - $psm-border-width * 2;
}
