@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

$psm-button-height: 36px;
$psm-border-width: 1px;

.psm-button,
%psm-button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 80px;
  height: $psm-button-height;
  padding: 0 $psm-spacing-lg;
  border: $psm-border-width solid $psm-color-gray-200;
  border-radius: 3px;
  color: $psm-color-gray-900;
  background-color: $psm-color-gray-50;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  vertical-align: middle;
  line-height: $psm-button-height - $psm-border-width * 2;

  &:active {
    outline: none;
    border-color: $psm-color-gray-300;
    background-color: white;
  }

  &:hover {
    cursor: pointer;
    border-color: $psm-color-gray-300;
    background-color: white;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    border-color: $psm-color-gray-50;
    color: $psm-color-gray-400;
  }
}

.psm-button--primary,
%psm-button--primary {
  @extend %psm-button;
  background-color: $psm-color-primary-500;
  border-color: $psm-color-primary-500;
  color: white;

  &:active {
    border-color: $psm-color-primary-600;
    background-color: $psm-color-primary-600;
  }

  &:hover {
    border-color: $psm-color-primary-600;
    background-color: $psm-color-primary-600;
  }

  &:disabled {
    border-color: $psm-color-primary-300;
    background-color: $psm-color-primary-300;
    color: white;
  }
}

.psm-button--small {
  min-width: 74px;
  height: $psm-button-height * 2/3;
  line-height: $psm-button-height * 2/3 - $psm-border-width * 2;
}

.psm-dropdown {
  @extend %psm-button;

  &::after {
    font-family: '#{$icomoon-font-family}' !important;
    content: $psm-icon-small-triangle-down;
    color: $psm-color-gray-200;
    padding: 0 0 0 $psm-spacing-md;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid $psm-color-gray-200;
    margin: (-$psm-spacing-sm) (-$psm-spacing-md) 0 $psm-spacing-md;
  }
}

.psm-dropdown--primary {
  @extend %psm-button--primary;

  &::after {
    font-family: '#{$icomoon-font-family}' !important;
    content: $psm-icon-small-triangle-down;
    color: #ffffff;
    padding: 0 0 0 $psm-spacing-md;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #ffffff;
    margin: (-$psm-spacing-sm) (-$psm-spacing-md) 0 $psm-spacing-md;
  }
}

.psm-dropdown__menu,
%psm-dropdown__menu {
  border-radius: 3px;
  display: inline-block;
  margin: $psm-spacing-sm 0 0 0;
  box-shadow: 0 0 $psm-spacing-xs 0 rgba(0, 0, 0, 0.14),
    0 $psm-spacing-xs $psm-spacing-xs 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);

  .psm-dropdown__ul {
    margin: 0;
    padding: 0;
  }
  .psm-dropdown__ul + .psm-dropdown__ul {
    border-top: 1px solid $psm-color-gray-200;
  }
  .psm-dropdown__li {
    margin: 0;
    padding: $psm-spacing-sm $psm-spacing-lg;
    display: block;
    white-space: nowrap;
    width: calc(100% - 36px);
    cursor: pointer;
    &:hover {
      background-color: #e4e4e4;
    }
  }
}
.psm-dropdown__menu--flip {
  @extend %psm-dropdown__menu;
}
