@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';
@import '../core/color/functions';

.psm-alert,
%psm-alert {
  width: 100%;
  display: block;
  min-height: 56px;
  line-height: 24px;
  text-align: left;
  outline: none;
  border-radius: 4px;
  position: relative;

  & .psm-alert__close {
    background-color: transparent;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
  }
  & .psm-alert__msg {
    height: calc(100% - 32px);
    padding: 16px 0 16px 16px;
    width: calc(100% - 72px);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.psm-alert--warning {
  @extend %psm-alert;
  background-color: $psm-color-warning-background;
  color: $psm-color-warning;
  & a {
    color: $psm-color-warning !important;
    font-weight: bold;
  }
  & .psm-alert__close {
    &:hover,
    &:focus {
      background-color: alpha-blend($psm-color-warning-background, 0.94, black);
    }
  }
}

.psm-alert--info {
  @extend %psm-alert;
  background-color: $psm-color-info-background;
  color: $psm-color-info;
  & a {
    color: $psm-color-info !important;
    font-weight: bold;
  }
  & .psm-alert__close {
    &:hover,
    &:focus {
      background-color: alpha-blend($psm-color-info-background, 0.94, black);
    }
  }
}

.psm-alert--error {
  @extend %psm-alert;
  background-color: $psm-color-error-background;
  color: $psm-color-error;
  & a {
    color: $psm-color-error !important;
    font-weight: bold;
  }
  & .psm-alert__close {
    &:hover,
    &:focus {
      background-color: alpha-blend($psm-color-error-background, 0.94, black);
    }
  }
}

.psm-alert--success {
  @extend %psm-alert;
  background-color: $psm-color-success-background;
  color: $psm-color-success;
  & a {
    color: $psm-color-success !important;
    font-weight: bold;
  }
  & .psm-alert__close {
    &:hover,
    &:focus {
      background-color: alpha-blend($psm-color-success-background, 0.94, black);
    }
  }
}
