@import '../button/button.scss';
@import '../core/color/variables';

.psm-dropdown,
%psm-dropdown {
  @extend %psm-button;
  display: flex;
  flex-direction: row;
  width: fit-content;
  &:hover, &:focus {
    background-color: $psm-color-gray-300;
  }
  svg {
    align-self: center;
    padding-left: 12px;
  }
}

.psm-dropdown-dual {
  border-left: none;
  display: inline-flex;
  height: 40px;
  button {
    height: 100%;
    border-radius: 3px 0px 0px 3px;
  }

  .psm-dual-svg {
    background-color: $psm-color-gray-200;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    margin-left: 1px;
    &:hover {
      background-color: $psm-color-gray-300;
    }
    &--primary {
      background-color: $psm-color-primary-500;
      border-radius: 0px 3px 3px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      margin-left: 1px;
      &:hover {
        background-color: $psm-color-primary-600;
      }
    }
  }
}

.psm-dropdown-hidden {
  display: none;
  visibility: hidden;
}

.psm-dropdown-visible {
  display: block;
  visibility: visible;
}

.psm-dropdown--primary,
%psm-dropdown--primary {
  @extend %psm-button--primary;
  display: flex;
  width: fit-content;
  div {
    border-left: 1px solid white;
    margin-left: 10px;
    padding: 0px 8px;
    margin-right: -16px;
  }
  svg {
    align-self: center;
    padding-left: 12px;
  }
}

.psm-dropdown__container {
  display: inline-block;
  position: relative;
  width: fit-content;
  outline: none;
}

.psm-dropdown--component {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.psm-dropdown--btn {
  > span {
    float: left;
  }
  > div {
    float: right;
  }
}

.psm-dropdown__menu,
%psm-dropdown__menu {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 $psm-spacing-xs 0 rgba(0, 0, 0, 0.14),
    0 $psm-spacing-xs $psm-spacing-xs 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);

  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.psm-dropdown__li {
  cursor: pointer;
  padding: 16px;
  &:focus,
  &:hover {
    background-color: #e4e4e4;
    outline: none;
  }
}

.psm-dropdown-focused {
  background-color: #e4e4e4;
  outline: none;
  cursor: pointer;
  padding: 16px;
}

.psm-dropdown__menu--flip {
  @extend %psm-dropdown__menu;
}
