@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/type/variables';
@import '../core/icon/variables';

.psm-input,
%psm-input {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  padding: 7px 12px;
  font-size: $psm-paragraph-font-size;
  box-sizing: border-box;
  border: 1px solid $psm-color-gray-300;
  border-radius: 3px;
  color: $psm-color-gray-900;
  &::placeholder {
    color: $psm-color-gray-500;
  }

  &:hover {
    border-color: #42a5f5;
    box-shadow: 0 0 0 $psm-spacing-xs #e3f2fd;
    &.psm-input--error,
    &.psm-input:invalid {
      box-shadow: 0 0 0 $psm-spacing-xs #fceded;
    }
  }

  &--error,
  &:invalid {
    @extend %psm-input;
    border-color: #d70e16;
  }
  &:disabled {
    background-color: #f8f8f8;
    border: 1px solid $psm-color-gray-300 !important;
    box-shadow: none !important;
    color: $psm-color-gray-400;
    &::placeholder {
      color: $psm-color-gray-400;
    }
  }
}
button[class|=psm-icon-svg] {
  background: transparent;
  border: none;
  bottom: 16px;
  padding: 0;
}
.psm-form__label {
  margin: 16px 0px 0px;
  color: $psm-color-gray-900;
  font-size: $psm-paragraph-font-size;
  line-height: $psm-paragraph-font-size;
  font-weight: 900;
  text-align: left;
}
.psm-form__optional {
  margin-left: 8px;
  color: $psm-color-gray-700;
  font-size: $psm-paragraph-font-size;
  font-weight: normal;
}

.psm-form__subtext,
%psm-form__subtext {
  text-align: left;
  margin-bottom: 8px;
  font-size: $psm-subtext-font-size;
  line-height: $psm-subtext-font-size;
}

.psm-form__info-text {
  @extend %psm-form__subtext;
  color: $psm-color-gray-700;
}

.psm-form__error-text {
  @extend %psm-form__subtext;
  color: $psm-color-error;
}

.psm-multi-select,
%psm-multi-select {
  display: inline-block;
  padding: $psm-spacing-xs $psm-spacing-md;
  border: 1px solid $psm-color-gray-300;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $psm-color-primary-500;
    color: white;
  }

  &::before {
    content: '';
    background-color: #ffffff;
    height: $psm-subtext-font-size;
    width: $psm-subtext-font-size;
    border: 1px solid $psm-color-gray-300;
    padding: 0;
    margin: 0 $psm-spacing-lg 0 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.psm-multi-select--radio {
  &::before {
    border-radius: 100%;
  }
}

.psm-multi-select--selected {
  @extend %psm-multi-select;
  border: 1px solid $psm-color-primary-500;
  box-shadow: 0 0 0 $psm-spacing-xs $psm-color-primary-100;

  &:hover {
    &::before {
      background-color: transparent;
      color: #ffffff;
    }
  }

  &::before {
    content: $psm-icon-check;
    border: none;
    color: $psm-color-primary-500;
    height: $psm-spacing-xl;
    padding: 0 0 0 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.psm-select {
  padding: 0 $psm-spacing-lg;
  line-height: 36px;
  background-color: white;
  appearance: none;
  display: inline-block;
  background-image: url(./~/icons/psm-select-arrow.svg);
  background-position: right 9px;
  background-repeat: no-repeat;
  &::-ms-expand {
    display: none;
  }
}
