@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.psm-input-leading-icon,
.psm-input-trailing-icon {
  position: relative;

  & > [class^='psm-icon'],
  [class*=' psm-icon'] {
    position: absolute;
    top: 21px;
  }
}

.psm-input-leading-icon {
  & > [class^='psm-icon'],
  [class*=' psm-icon'] {
    left: $psm-spacing-md;
    right: initial;
    color: $psm-color-gray-900;
  }

  & > input:not([type='checkbox']):not([type='radio']) {
    padding-left: 36px;
  }
}

.psm-input-trailing-icon {
  & > [class^='psm-icon'],
  [class*=' psm-icon'] {
    left: initial;
    right: $psm-spacing-md;
    color: $psm-color-gray-900;
  }

  & > input:not([type='checkbox']):not([type='radio']) {
    padding-right: 36px;
  }
}
