@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

@mixin psm-nav {
  font-family: Roboto, sans-serif;
  display: flex;
  list-style: none;
}

@mixin nav-tab {
  align-items: center;
  box-sizing: border-box;
  color: $psm-color-gray-900;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 10px 12px;
  position: relative;
  width: fit-content;
}

@mixin active-tab {
  @include nav-tab;
  color: $psm-color-active-indicator;
  font-weight: bold;
}

.psm-nav {
  @include psm-nav;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__active {
    @include active-tab;
    border-left: 4px solid $psm-color-active-indicator;
  }

  &__badge {
    text-rendering: optimizeLegibility;
    background: #D70E16;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin-left: 10px;
    padding: 1px 3px;
  }

  &__new {
    display: inline-block;
    position: relative;
    bottom: 2px;
    font-weight: normal;
    color: white;
    font-size: 11px;
    margin: 0 3px;
    line-height: 14px;
  }

  &__tab {
    @include nav-tab;
    border-left: $psm-spacing-sm solid transparent;

    &:hover {
      background-color: $psm-color-gray-100;
      box-sizing: border-box;
      border-left: $psm-spacing-sm solid #d4d4d4;
    }
  }
}

.psm-nav-horizontal {
  @include psm-nav;
  display: flex;
  flex-direction: row;

  .psm-nav__active {
    @include active-tab;
    border-bottom: 4px solid $psm-color-active-indicator;
    border-left: none;
  }

  .psm-nav__tab {
    @include nav-tab;
    border-bottom: $psm-spacing-sm solid transparent;
    border-left: none;

    &:hover {
      border-bottom: $psm-spacing-sm solid #d4d4d4;
      border-left: none;
      box-sizing: border-box;
    }
  }
}
