@import "../core/color/variables";
@import "../core/spacing/variables";
@import "../core/icon/variables";

.psm-nav__tab {
  height: 36px;
  padding: 0 $psm-spacing-xl;
  width: fit-content;
  margin: 0;
  cursor: pointer;
  &.psm-nav__active {
    border-bottom: $psm-spacing-xs solid #008ae5;
    // outline-style: unset;
  }
  &.psm-nav__click {
    outline-style: none;
  }
}

.psm-nav {
  border-bottom: 1px solid #dadcdd;
}
