[class^="psm-icon-"], [class*=" psm-icon-"] {
  display: inline-block;
  height: 16px;
  width: 24px;
  background-image: url(/icons/psm-icons.svg);
  background-repeat: no-repeat;
}

.psm-icon-zoom-in {
  background-position: -0px -0px;
}

.psm-icon-trophy {
  background-position: -0px -16px;
}

.psm-icon-trash {
  background-position: -0px -32px;
}

.psm-icon-tail-up {
  background-position: -0px -48px;
}

.psm-icon-tail-right {
  background-position: -0px -64px;
}

.psm-icon-tail-left {
  background-position: -0px -80px;
}

.psm-icon-tail-down {
  background-position: -0px -96px;
}

.psm-icon-tag {
  background-position: -0px -112px;
}

.psm-icon-support {
  background-position: -0px -128px;
}

.psm-icon-stre-up {
  background-position: -0px -144px;
}

.psm-icon-stre-right {
  background-position: -0px -160px;
}

.psm-icon-stre-left {
  background-position: -0px -176px;
}

.psm-icon-stre-down {
  background-position: -0px -192px;
}

.psm-icon-small-up {
  background-position: -0px -208px;
}

.psm-icon-small-triangle-up {
  background-position: -0px -224px;
}

.psm-icon-small-triangle-right {
  background-position: -0px -240px;
}

.psm-icon-small-triangle-left {
  background-position: -0px -256px;
}

.psm-icon-small-triangle-down {
  background-position: -0px -272px;
}

.psm-icon-small-right {
  background-position: -0px -288px;
}

.psm-icon-small-left {
  background-position: -0px -304px;
}

.psm-icon-small-down {
  background-position: -0px -320px;
}

.psm-icon-single-content {
  background-position: -0px -336px;
}

.psm-icon-single-body {
  background-position: -0px -352px;
}

.psm-icon-simple-remove {
  background-position: -0px -368px;
}

.psm-icon-simple-add {
  background-position: -0px -384px;
}

.psm-icon-share {
  background-position: -0px -400px;
}

.psm-icon-share-2 {
  background-position: -0px -416px;
}

.psm-icon-settings-gear {
  background-position: -0px -432px;
}

.psm-icon-send {
  background-position: -0px -448px;
}

.psm-icon-select {
  background-position: -0px -464px;
}

.psm-icon-refresh {
  background-position: -0px -480px;
}

.psm-icon-print {
  background-position: -0px -496px;
}

.psm-icon-path-unite {
  background-position: -0px -512px;
}

.psm-icon-multiple {
  background-position: -0px -528px;
}

.psm-icon-menu-dots {
  background-position: -0px -544px;
}

.psm-icon-menu {
  background-position: -0px -560px;
}

.psm-icon-lock {
  background-position: -0px -576px;
}

.psm-icon-image {
  background-position: -0px -592px;
}

.psm-icon-heartbeat {
  background-position: -0px -608px;
}

.psm-icon-heart {
  background-position: -0px -624px;
}

.psm-icon-goal {
  background-position: -0px -640px;
}

.psm-icon-flag-points {
  background-position: -0px -656px;
}

.psm-icon-favourite {
  background-position: -0px -672px;
}

.psm-icon-eye {
  background-position: -0px -688px;
}

.psm-icon-email {
  background-position: -0px -704px;
}

.psm-icon-desktop {
  background-position: -0px -720px;
}

.psm-icon-cloud-download {
  background-position: -0px -736px;
}

.psm-icon-check {
  background-position: -0px -752px;
}

.psm-icon-chat {
  background-position: -0px -768px;
}

.psm-icon-chat-2 {
  background-position: -0px -784px;
}

.psm-icon-chart-bar {
  background-position: -0px -800px;
}

.psm-icon-cart-simple {
  background-position: -0px -816px;
}

.psm-icon-calendar-add {
  background-position: -0px -832px;
}

.psm-icon-calendar {
  background-position: -0px -848px;
}

.psm-icon-bullet-list {
  background-position: -0px -864px;
}

.psm-icon-block-down {
  background-position: -0px -880px;
}

.psm-icon-bell {
  background-position: -0px -896px;
}

.psm-icon-attach {
  background-position: -0px -912px;
}

.psm-icon-archive-check {
  background-position: -0px -928px;
}

.psm-icon-alert-circle-i {
  background-position: -0px -944px;
}

.psm-icon-add {
  background-position: -0px -960px;
}

.psm-icon-a-check {
  background-position: -0px -976px;
}

.psm-icon-edit-note {
  background-position: -0px -992px;
}

.psm-icon-one-on-one {
  background-position: -0px -1008px;
}

.psm-icon-play-screen {
  background-position: -0px -1024px;
}

.psm-icon-power {
  background-position: -0px -1040px;
}

.psm-icon-chat-3 {
  background-position: -0px -1056px;
}
