@import 'variables';

[class^='psm-icon-'],
[class*=' psm-icon-'] {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.psm-icon-a-check {
  &:before {
    content: $psm-icon-a-check;
  }
}
.psm-icon-add {
  &:before {
    content: $psm-icon-add;
  }
}
.psm-icon-alert-circle-i {
  &:before {
    content: $psm-icon-alert-circle-i;
  }
}
.psm-icon-archive-check {
  &:before {
    content: $psm-icon-archive-check;
  }
}
.psm-icon-attach {
  &:before {
    content: $psm-icon-attach;
  }
}
.psm-icon-bell {
  &:before {
    content: $psm-icon-bell;
  }
}
.psm-icon-block-down {
  &:before {
    content: $psm-icon-block-down;
  }
}
.psm-icon-bullet-list {
  &:before {
    content: $psm-icon-bullet-list;
  }
}
.psm-icon-calendar {
  &:before {
    content: $psm-icon-calendar;
  }
}
.psm-icon-calendar-add {
  &:before {
    content: $psm-icon-calendar-add;
  }
}
.psm-icon-cart-simple {
  &:before {
    content: $psm-icon-cart-simple;
  }
}
.psm-icon-chart-bar {
  &:before {
    content: $psm-icon-chart-bar;
  }
}
.psm-icon-chat {
  &:before {
    content: $psm-icon-chat;
  }
}
.psm-icon-chat-alt {
  &:before {
    content: $psm-icon-chat-alt;
  }
}
.psm-icon-check {
  &:before {
    content: $psm-icon-check;
  }
}
.psm-icon-cloud-download {
  &:before {
    content: $psm-icon-cloud-download;
  }
}
.psm-icon-conversation {
  &:before {
    content: $psm-icon-conversation;
  }
}
.psm-icon-desktop {
  &:before {
    content: $psm-icon-desktop;
  }
}
.psm-icon-edit-note {
  &:before {
    content: $psm-icon-edit-note;
  }
}
.psm-icon-email {
  &:before {
    content: $psm-icon-email;
  }
}
.psm-icon-eye {
  &:before {
    content: $psm-icon-eye;
  }
}
.psm-icon-favorite {
  &:before {
    content: $psm-icon-favorite;
  }
}
.psm-icon-flag-points {
  &:before {
    content: $psm-icon-flag-points;
  }
}
.psm-icon-goal {
  &:before {
    content: $psm-icon-goal;
  }
}
.psm-icon-heart {
  &:before {
    content: $psm-icon-heart;
  }
}
.psm-icon-heartbeat {
  &:before {
    content: $psm-icon-heartbeat;
  }
}
.psm-icon-image {
  &:before {
    content: $psm-icon-image;
  }
}
.psm-icon-lock {
  &:before {
    content: $psm-icon-lock;
  }
}
.psm-icon-menu {
  &:before {
    content: $psm-icon-menu;
  }
}
.psm-icon-menu-dots {
  &:before {
    content: $psm-icon-menu-dots;
  }
}
.psm-icon-group {
  &:before {
    content: $psm-icon-group;
  }
}
.psm-icon-one-on-one {
  &:before {
    content: $psm-icon-one-on-one;
  }
}
.psm-icon-agenda {
  &:before {
    content: $psm-icon-agenda;
  }
}
.psm-icon-play-screen {
  &:before {
    content: $psm-icon-play-screen;
  }
}
.psm-icon-power {
  &:before {
    content: $psm-icon-power;
  }
}
.psm-icon-print {
  &:before {
    content: $psm-icon-print;
  }
}
.psm-icon-refresh {
  &:before {
    content: $psm-icon-refresh;
  }
}
.psm-icon-select {
  &:before {
    content: $psm-icon-select;
  }
}
.psm-icon-send {
  &:before {
    content: $psm-icon-send;
  }
}
.psm-icon-settings-gear {
  &:before {
    content: $psm-icon-settings-gear;
  }
}
.psm-icon-share {
  &:before {
    content: $psm-icon-share;
  }
}
.psm-icon-share-alt {
  &:before {
    content: $psm-icon-share-alt;
  }
}
.psm-icon-simple-add {
  &:before {
    content: $psm-icon-simple-add;
  }
}
.psm-icon-simple-remove {
  &:before {
    content: $psm-icon-simple-remove;
  }
}
.psm-icon-single-body {
  &:before {
    content: $psm-icon-single-body;
  }
}
.psm-icon-single-content {
  &:before {
    content: $psm-icon-single-content;
  }
}
.psm-icon-small-down {
  &:before {
    content: $psm-icon-small-down;
  }
}
.psm-icon-small-left {
  &:before {
    content: $psm-icon-small-left;
  }
}
.psm-icon-small-right {
  &:before {
    content: $psm-icon-small-right;
  }
}
.psm-icon-small-triangle-down {
  &:before {
    content: $psm-icon-small-triangle-down;
  }
}
.psm-icon-small-triangle-left {
  &:before {
    content: $psm-icon-small-triangle-left;
  }
}
.psm-icon-small-triangle-right {
  &:before {
    content: $psm-icon-small-triangle-right;
  }
}
.psm-icon-small-triangle-up {
  &:before {
    content: $psm-icon-small-triangle-up;
  }
}
.psm-icon-small-up {
  &:before {
    content: $psm-icon-small-up;
  }
}
.psm-icon-stre-down {
  &:before {
    content: $psm-icon-stre-down;
  }
}
.psm-icon-stre-left {
  &:before {
    content: $psm-icon-stre-left;
  }
}
.psm-icon-stre-right {
  &:before {
    content: $psm-icon-stre-right;
  }
}
.psm-icon-stre-up {
  &:before {
    content: $psm-icon-stre-up;
  }
}
.psm-icon-support {
  &:before {
    content: $psm-icon-support;
  }
}
.psm-icon-tag {
  &:before {
    content: $psm-icon-tag;
  }
}
.psm-icon-tail-down {
  &:before {
    content: $psm-icon-tail-down;
  }
}
.psm-icon-tail-left {
  &:before {
    content: $psm-icon-tail-left;
  }
}
.psm-icon-tail-right {
  &:before {
    content: $psm-icon-tail-right;
  }
}
.psm-icon-tail-up {
  &:before {
    content: $psm-icon-tail-up;
  }
}
.psm-icon-trash {
  &:before {
    content: $psm-icon-trash;
  }
}
.psm-icon-trophy {
  &:before {
    content: $psm-icon-trophy;
  }
}
.psm-icon-zoom-in {
  &:before {
    content: $psm-icon-zoom-in;
  }
}
