$icomoon-font-family: "prism" !default;
$icomoon-font-path: "fonts" !default;

$psm-icon-a-check: "\e900";
$psm-icon-add: "\e901";
$psm-icon-alert-circle-i: "\e902";
$psm-icon-archive-check: "\e903";
$psm-icon-attach: "\e904";
$psm-icon-bell: "\e905";
$psm-icon-block-down: "\e906";
$psm-icon-bullet-list: "\e907";
$psm-icon-calendar: "\e909";
$psm-icon-calendar-add: "\e908";
$psm-icon-cart-simple: "\e90a";
$psm-icon-chart-bar: "\e90b";
$psm-icon-chat: "\e90d";
$psm-icon-chat-alt: "\e90c";
$psm-icon-check: "\e90e";
$psm-icon-cloud-download: "\e90f";
$psm-icon-conversation: "\e910";
$psm-icon-desktop: "\e911";
$psm-icon-edit-note: "\e912";
$psm-icon-email: "\e913";
$psm-icon-eye: "\e914";
$psm-icon-favorite: "\e915";
$psm-icon-flag-points: "\e916";
$psm-icon-goal: "\e917";
$psm-icon-heart: "\e918";
$psm-icon-heartbeat: "\e919";
$psm-icon-image: "\e91a";
$psm-icon-lock: "\e91b";
$psm-icon-menu: "\e91d";
$psm-icon-menu-dots: "\e91c";
$psm-icon-multiple: "\e91e";
$psm-icon-one-on-one: "\e91f";
$psm-icon-path-unite: "\e920";
$psm-icon-play-screen: "\e921";
$psm-icon-power: "\e922";
$psm-icon-print: "\e923";
$psm-icon-refresh: "\e924";
$psm-icon-select: "\e925";
$psm-icon-send: "\e926";
$psm-icon-settings-gear: "\e927";
$psm-icon-share: "\e929";
$psm-icon-share-alt: "\e928";
$psm-icon-simple-add: "\e92a";
$psm-icon-simple-remove: "\e92b";
$psm-icon-single-body: "\e92c";
$psm-icon-single-content: "\e92d";
$psm-icon-small-down: "\e92e";
$psm-icon-small-left: "\e92f";
$psm-icon-small-right: "\e930";
$psm-icon-small-triangle-down: "\e931";
$psm-icon-small-triangle-left: "\e932";
$psm-icon-small-triangle-right: "\e933";
$psm-icon-small-triangle-up: "\e934";
$psm-icon-small-up: "\e935";
$psm-icon-stre-down: "\e936";
$psm-icon-stre-left: "\e937";
$psm-icon-stre-right: "\e938";
$psm-icon-stre-up: "\e939";
$psm-icon-support: "\e93a";
$psm-icon-tag: "\e93b";
$psm-icon-tail-down: "\e93c";
$psm-icon-tail-left: "\e93d";
$psm-icon-tail-right: "\e93e";
$psm-icon-tail-up: "\e93f";
$psm-icon-trash: "\e940";
$psm-icon-trophy: "\e941";
$psm-icon-zoom-in: "\e942";
