$psm-mount-location: "/prism-ui";

@import "../components/core/color/variables";

p > code {
  color: #ff2e35;
}

.window-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.component-window {
  min-width: 400px;
  min-height: 250px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  flex-grow: 2;
  margin: 8px;
}

.component-window-child {
  display: inline-block;
  width: 100%;
}

.props-window {
  min-width: 150px;
  min-height: 250px;
  padding: 16px;
  background-color: rgb(238, 238, 238);
  margin: 8px;
}

.hoverable:hover {
  font-weight: bold;
  color: #545454;
}
.hoverable {
  color: #212121;
  text-decoration: none;
}

.content {
  max-width: 800px;
  margin: 0 auto 3em;
}

.section-header {
  background-color: $psm-color-gray-50;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
}

pre,
code {
  font-size: 14px;
}

.types {
  dt {
    float: left;
  }
  dd {
    margin-left: 200px;
    height: 6em;
  }
}

.narrow {
  display: inline-block;
  width: 300px;
  margin: 20px 0 60px;

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    margin-bottom: 20px;
  }
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0 0 60px;
  padding: 0;

  li {
    display: inline-block;
    width: 24%;
    margin-bottom: 2em;
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  div {
    flex: 1;
  }
}
