@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.psm-chip,
%psm-chip {
  color: black;
  border: 1px solid $psm-color-gray-300;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: $psm-spacing-md;
  &:hover {
    border: 1px solid $psm-color-gray-900;
    box-shadow: 0px 0px 0px 2px $psm-color-gray-300;
  }
}

.psm-chip--interior {
  display: flex;
  align-items: center;
  svg {
    margin: 0 8px 0 0;
  }
}

.psm-chip__selected {
  @extend %psm-chip;
  color: white;
  background-color: $psm-color-primary-500;
  border: none;
  box-shadow: none;
  &:hover {
    border: none;
    box-shadow: none;
  }
}

.psm-chip__close {
  border: none;
  background: transparent;
  content: $psm-icon-simple-remove;
  color: $psm-color-gray-300;
  height: 100%;
  margin-left: $psm-spacing-lg;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  svg {
    vertical-align: text-bottom;
  }
}
