@import '../core/color/variables';
@import '../core/spacing/variables';
@import '../core/icon/variables';

.chip-button {
  background: transparent;
  border: none;
  color: #707070;
  font-size: 1rem;
  padding: 0;
}

.psm-chip,
%psm-chip {
  display: inline-block;
  padding: $psm-spacing-xs $psm-spacing-md;
  border: 1px solid $psm-color-gray-300;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $psm-color-primary-500;
    color: white;
  }
}

.psm-chip--selected {
  @extend %psm-chip;
  box-shadow: 0 0 0 $psm-spacing-xs $psm-color-primary-100;
  display: inline-block;
}

.psm-chip__close {
  font-family: '#{$icomoon-font-family}' !important;
  border: none;
  background: transparent;
  content: $psm-icon-simple-remove;
  color: $psm-color-gray-300;
  height: 100%;
  margin-left: $psm-spacing-lg;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  svg {
    vertical-align: text-bottom;
  }
}
